@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url(./ranges.css);
@import url(./color.css);


:root {
    /*COLORS*/
    --white:        #FFFFFF;
    --black:        #000000;
    --bg:           #F9DBBD;
    --bg-container: #450920;
    --bg-btn:       #FFA5AB;
    --bg-btn-hover: #DA627D;
    --bg-range:     #d4103b;

    /*FONTS*/
    --f1:       'Russo One', Impact, 'Arial Narrow Bold', sans-serif;
    --f2:       'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    background: none;
    border: none;
}

body {
    width: 90%;
    padding: 10% 0;
    margin: 0 auto;
    color: var(--white);
    font-family: var(--f2);
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    font-family: var(--f2);
}

main {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    gap: 30px;
    background-color: var(--bg-container);
}

.inputs {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.inputs__col, .inputs__row, .inputs__cor {
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.input__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.inputs__col input, .inputs__row input {
    width: 100%;
}

.inputs__cor input {
    width: 100%;
}

.input__cor__value {
    text-transform: uppercase;
}

.btn__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.inputs__limpar {
    width: 100%;
}

.inputs__apagar, .inputs__desenhar {
    width: 25%;
}

.limpar__btn, .apagar__btn, .desenhar__btn {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background: var(--bg-btn);
    font-weight: bold;
}

.limpar__btn:hover, .apagar__btn:hover, .desenhar__btn:hover {
    background: var(--bg-btn-hover)
}


/***************************/
/***************************/
/***************************/
.grids {
    width: 100%;
    background-color: var(--white);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grids__container {
    display: grid;
    grid-template-columns: repeat(16,minmax(0, 3fr));
    grid-template-rows: repeat(16,minmax(0, 3fr));
    justify-items: center;
    align-items: center;
}

.grid {
    border: 1px solid var(--black);
    width: 16px;
    height: 16px;
    background: var(--white);
}