@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url(./ranges.css);
@import url(./color.css);

:root {
  /*COLORS*/
  --white: #ffffff;
  --black: #000000;
  --bg: #f9dbbd;
  --bg-container: #450920;
  --bg-btn: #ffa5ab;
  --bg-btn-hover: #da627d;
  --bg-range: #d4103b;

  /*CUSTOM*/
  --custom-opacity: rgba(0, 0, 0, 1);

  /*FONTS*/
  --f1: "Russo One", Impact, "Arial Narrow Bold", sans-serif;
  --f2: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  background: none;
  border: none;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 90%;
  padding: 25px 0;
  margin: 0 auto;
  color: var(--white);
  font-family: var(--f2);
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  font-family: var(--f2);
}

main {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  gap: 30px;
  background-color: var(--bg-container);
}

.inputs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.inputs__col,
.inputs__row,
.inputs__opac,
.inputs__cor {
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.input__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.inputs__col input,
.inputs__row input,
.inputs__opac input {
  width: 90%;
}

.inputs__cor input {
  width: 100%;
}

.input__cor__value {
  text-transform: uppercase;
}

.btn__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.inputs__limpar {
  width: 100%;
}

.limpar__btn,
.apagar__btn,
.desenhar__btn,
.download__btn {
  width: 33%;
  padding: 10px;
  border-radius: 25px;
  background: var(--bg-btn);
  font-weight: bold;
  transition: 1s all;
}

.limpar__btn {
  width: 100%;
}

.download__btn {
  width: 18%;
}

.limpar__btn:hover,
.apagar__btn:hover,
.desenhar__btn:hover,
.download__btn:hover {
  background: var(--bg-btn-hover);
}

/***************************/
/***************************/
/***************************/
.grids__container {
  background-color: var(--white);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.grid-col {
  border: 1px solid var(--custom-opacity);
  width: 16px;
  height: 16px;
  background: var(--white);
}

.grid-row {
  display: flex;
}
